
  {{#if artists}}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">SpotiFly <span class="sr-only">(current)</span></a>
        </li>
    </div>
    <h2 class="art-title">Artists</h2>
  </nav>
  {{/if}}


  <div class="container-artists">
      <div class="album-title">
    <h2 ><br />List of artists:</h2>
  </div>
  <div class="cards" id="album-list">
    {{#each artists}}
    <div class="card">
      <img class="img" src="{{this.images.[1].url}}">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">Popularity: {{this.popularity}}</p>
           <div class="next-btn">
          <a href="/albums/{{this.id}}" class="tracking">View Album</a>
       </div>
      </div>
    </div>
    {{/each}}
  </div>