<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">SpotiFly <span class="sr-only">(current)</span></a>
      </li>
  </div>
  <h1>Welcome to SpotiFly!</h1>
</nav>

<div class="container-x">
  <div class="img-1">
    <!-- image container -->
  </div>

   <div class="formless">
        <form action="/artists" method="GET" >
        <input class="input" 
        id="search-query" name="artist" type="text" placeholder="Search Artist" aria-label="Search" />
         <div class="search-x"></div>
      </form>
  </div>

</div>


<footer class="page-footer  navbar-dark fixed-bottom bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    ©SpotiFly 
      <script>document.write(new Date().getFullYear())</script>
    Copyright

  </div>
  <!-- Copyright -->

</footer>
 <script src="/javascript/main.js"></script>